/*

@media (min-width: 1000px) {

        body.one-sidebar #body_cont { 
            height: 500px !important;
    }

 }
*/


@media (min-width: 900px) { 
#z {
    bottom: 5px;
    left: 40px;
}

#zoom-bar {
    width: 300px;
    height: 80px;
}

#fake-bar {
    top: 35px;
    width: 303px;
    height: 10px;
}

}


.marker-cluster-small {
  background-color: rgba(83,214,141, 0.6);
  }
.marker-cluster-small div {
  background-color: none;
  }

  /* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
  background-color: rgb(83,214,141);
  }
.leaflet-oldie .marker-cluster-small div {
  background-color: none
  }

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
  }
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  }
.marker-cluster span {
  line-height: 30px;
  }

.leaflet-top .leaflet-control {
  margin-top: 20px;
}
.leaflet-left .leaflet-control {
  margin-left: -100px;